/* AddExpensesPage*/

.addExpensesPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eef6ff;
    padding: 1rem;
}

.formContainer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.title {
    font-size: 2rem;
    color: #0077cc;
    text-align: center;
    margin-bottom: 1.5rem;
}

.expenseForm {
    display: flex;
    flex-direction: column;
}

.updateMsg {
    color: green;
    font-size: 14;
    font-weight: bold;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

.input,
.select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input:focus,
.select:focus {
    outline: none;
    border-color: #0077cc;
}

.addButton {
    padding: 0.8rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #005fa3;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .formContainer {
        padding: 1.5rem;
        width: 90%;
    }

    .title {
        font-size: 1.8rem;
    }

    .input,
    .select {
        font-size: 0.9rem;
    }

    .addButton {
        font-size: 0.9rem;
    }
}