/* Get Started Page*/

.signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eef6ff;
    padding: 1rem;
}

.formContainer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #0077cc;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
}

.socialBtnCont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.signupButton {
    padding: 0.8rem;
    background-color: #1c1c1d;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.5s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.signupButton:hover {
    background-color: #005fa3;
}


/* Media Queries for Responsiveness */

/* Small devices (phones) */
@media (max-width: 768px) {
    .formContainer {
        padding: 1.5rem;
        width: 90%;
    }

    .title {
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .socialBtnCont {

        flex-direction: row;
    }

    .btIcon {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .btnText {
        display: none;
    }

    .signupButton {
        font-size: 0.9rem;
    }

}

/* Medium devices (tablets) */
@media (max-width: 1024px) {
    .formContainer {
        padding: 1.8rem;
    }

    .title {
        font-size: 1.9rem;
    }

    .subtitle {
        font-size: 0.95rem;
    }

    .signupButton {
        font-size: 0.95rem;
    }
}