/* Header Component Style  */

.header {
    background-color: #1c1c1d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.logoSm {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.navSm {
    display: none;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav a:hover {
    text-decoration: underline;
}


/* Media Queries for Responsiveness */

/* Small devices (phones) */
@media (max-width: 768px) {
    .header {
        padding: 1rem;
    }

    .logoSm {
        display: block;
        font-size: 1.1rem;
        font-weight: 900;
        color: white;
        text-decoration: none;
    }

    .btnIcon {
        font-size: 1.5rem;
    }

    .logo {
        display: none;
    }

    .nav {
        display: none;
    }

    .navSm {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .navSm a {
        color: white;
        text-decoration: none;
    }
}

/* Medium devices (tablets) */
@media (max-width: 1024px) {}