/* Loading Page  */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eef6ff;
}

.loadingText {
    text-align: center;
    color: #1c1c1d;
}